n8n-workflows/ad-video-generation.json
{
  "name": "Ad Video Generation Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-ad",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Ad Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ad-generation-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert at creating detailed video prompts for AI video generation models like Google VEO 3 and OpenAI Sora. Enhance the user's video description to create a highly detailed, cinematic prompt. Add specific visual details, camera movements, lighting, colors, and mood. Keep it to 2-4 sentences. Respond with ONLY the enhanced prompt.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('Enhance this video prompt: ' + $json.body.prompt) }}\n    }\n  ],\n  \"max_tokens\": 300,\n  \"temperature\": 0.7\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "enhance-prompt",
      "name": "Enhance Prompt with GPT-4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst originalPrompt = $('Webhook - Ad Request').first().json.body.prompt;\nconst enhancedPrompt = response.choices?.[0]?.message?.content || originalPrompt;\n\nreturn {\n  originalPrompt: originalPrompt,\n  enhancedPrompt: enhancedPrompt,\n  model: $('Webhook - Ad Request').first().json.body.model || 'veo3'\n};"
      },
      "id": "extract-enhanced-prompt",
      "name": "Extract Enhanced Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jogg.ai/v2/create_video_from_avatar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.JOGGAI_API_KEY || '72317b83366445c69f56e736097bca8e' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"avatar\": {\n    \"avatar_id\": 412,\n    \"avatar_type\": \"0\"\n  },\n  \"voice\": {\n    \"type\": \"script\",\n    \"voice_id\": \"MFZUKuGQUsGJPQjTS4wC\",\n    \"script\": {{ JSON.stringify($json.enhancedPrompt) }}\n  },\n  \"aspect_ratio\": \"landscape\",\n  \"screen_style\": 1,\n  \"caption\": true,\n  \"video_name\": {{ JSON.stringify('Ad Video - ' + new Date().toISOString()) }}\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "joggai-create-video",
      "name": "JoggAI - Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const joggResponse = $input.first().json;\nconst promptData = $('Extract Enhanced Prompt').first().json;\n\nif (joggResponse.code === 0 && joggResponse.data?.video_id) {\n  return {\n    success: true,\n    videoId: joggResponse.data.video_id,\n    originalPrompt: promptData.originalPrompt,\n    enhancedPrompt: promptData.enhancedPrompt,\n    status: 'processing',\n    message: 'Video creation started. Will be ready in 2-5 minutes.',\n    checkStatusUrl: 'https://api.jogg.ai/v2/avatar_video/' + joggResponse.data.video_id\n  };\n} else {\n  return {\n    success: false,\n    error: joggResponse.msg || 'Failed to create video',\n    originalPrompt: promptData.originalPrompt,\n    enhancedPrompt: promptData.enhancedPrompt\n  };\n}"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "content": "## Ad Video Generation Pipeline\n\n**This workflow automates ad video creation:**\n\n### Flow:\n1. **Receive prompt** via webhook\n2. **Enhance prompt** using GPT-4 for better video quality\n3. **Generate video** using JoggAI\n4. **Return video ID** for status polling\n\n### Required Environment Variables:\n- `OPENAI_API_KEY` - For prompt enhancement\n- `JOGGAI_API_KEY` - For video generation\n\n### Webhook URL:\n`POST /webhook/generate-ad`\n\n### Request Body:\n```json\n{\n  \"prompt\": \"Your video description\",\n  \"model\": \"veo3\" or \"sora\"\n}\n```",
        "height": 400,
        "width": 350
      },
      "id": "sticky-note",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 520]
    }
  ],
  "connections": {
    "Webhook - Ad Request": {
      "main": [
        [
          {
            "node": "Enhance Prompt with GPT-4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhance Prompt with GPT-4": {
      "main": [
        [
          {
            "node": "Extract Enhanced Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Enhanced Prompt": {
      "main": [
        [
          {
            "node": "JoggAI - Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JoggAI - Create Video": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
