n8n-workflows/podcast-to-joggai.json
{
  "name": "Podcast Script to Jogg.ai Video",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "podcast-export",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Script Export",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "podcast-export-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Parse the incoming script data\nconst input = $input.first().json;\n\nconst script = input.script;\nconst speakers = input.speakers;\nconst timestamp = input.timestamp;\n\n// Get settings\nconst avatarId = input.avatarId || 412;\nconst voiceId = input.voiceId || 'en-US-ChristopherNeural';\n\nreturn {\n  script: script,\n  speaker1: speakers?.speaker1 || 'Alex',\n  speaker2: speakers?.speaker2 || 'Sam',\n  timestamp: timestamp,\n  avatarId: avatarId,\n  voiceId: voiceId,\n  aspectRatio: input.aspectRatio || 'landscape',\n  screenStyle: input.screenStyle || 1,\n  caption: input.caption !== false\n};"
      },
      "id": "code-format-script",
      "name": "Format Script",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jogg.ai/v2/create_video_from_avatar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.JOGGAI_API_KEY || '72317b83366445c69f56e736097bca8e' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"avatar\": {\n    \"avatar_id\": {{ $json.avatarId }},\n    \"avatar_type\": 0\n  },\n  \"voice\": {\n    \"type\": \"script\",\n    \"voice_id\": {{ JSON.stringify($json.voiceId) }},\n    \"script\": {{ JSON.stringify($json.script) }}\n  },\n  \"aspect_ratio\": {{ JSON.stringify($json.aspectRatio) }},\n  \"screen_style\": {{ $json.screenStyle }},\n  \"caption\": {{ $json.caption }},\n  \"video_name\": {{ JSON.stringify('Podcast Video - ' + $json.timestamp) }},\n  \"webhook_url\": \"{{ $env.WEBHOOK_CALLBACK_URL || '' }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "joggai-create-video",
      "name": "JoggAI - Create Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "video-created",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "Video Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nreturn {\n  success: true,\n  videoId: response.data?.video_id,\n  message: 'Video creation started! It will be ready in 2-5 minutes.',\n  checkStatusUrl: 'https://api.jogg.ai/v2/avatar_video/' + response.data?.video_id\n};"
      },
      "id": "success-response",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nreturn {\n  success: false,\n  error: response.msg || 'Unknown error',\n  code: response.code\n};"
      },
      "id": "error-response",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "content": "## Jogg.ai API Integration\n\n**This workflow uses the Jogg.ai API v2**\n\n### Setup Required:\n1. Set `JOGGAI_API_KEY` environment variable in n8n\n2. The default key is already included as fallback\n\n### How it works:\n1. Receives script from Podcast Creator app\n2. Sends to Jogg.ai API to create avatar video\n3. Returns video_id for status tracking\n\n### Video Status:\nVideos take 2-5 minutes to generate.\nUse the check_status URL to poll for completion.",
        "height": 300,
        "width": 320
      },
      "id": "sticky-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 480]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ 'podcast-script-' + $now.format('yyyy-MM-dd-HHmmss') + '.txt' }}",
        "dataPropertyName": "={{ $json.script }}",
        "options": {}
      },
      "id": "save-script-file",
      "name": "Save Script Backup",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [470, 480]
    }
  ],
  "connections": {
    "Webhook - Script Export": {
      "main": [
        [
          {
            "node": "Format Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Script": {
      "main": [
        [
          {
            "node": "JoggAI - Create Video",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Script Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JoggAI - Create Video": {
      "main": [
        [
          {
            "node": "Video Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Created?": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
